.latest {
    padding: 65px 0 50px;
}

.latest__container.container {
    display: flex;
    justify-content: space-between;
}

.latest__product {    
    flex: 0 1 29%;
}

@media screen and (max-width: 767px) {
    .latest__container.container { 
        flex-direction: column;
    }
}