.hero {
    display: flex;
    min-height: 455px;
    background-color: var(--secondary-colour);
}

.hero__container {
    display: flex;
}

.hero__col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--sub-colour);
}

.hero__chevron {
    position: relative;
    text-align: center;
    padding: 12px;
    transform: rotate(90deg);
}

.hero__chevron:before {
    content: '';
    position: absolute;
    top: 0;
    left: 1px;
    height: 500%;
    width: 50%;
    background: var(--sub-colour);
    transform: skew(0deg, 45deg);
}

.hero__chevron:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;height: 500%;
    width: 50%;
    background: var(--sub-colour);
    transform: skew(0deg, -45deg);
}

.hero__diamond:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 200px;
    height: 200px;
    background: var(--sub-colour);
    transform: translate(0, -50%) rotate(45deg);
}

/* responsive
============================ */
@media screen and (max-width: 768px) { 
    .hero {
        min-height: 310px;
    }

    .hero__diamond:after {
        height: 100px;
        width: 100px;
    }

    .hero__description {
        display: none;
    }

    .hero__col--shape {
        display: none;
    }
}