.hot-items__container.container {
    display: flex;
    flex-wrap: wrap;
    padding: 40px 0;
}

.hot-items__col {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hot-items__media-item {
    position: relative;
    flex: 1;
}

.hot-items__col--secondary .hot-items__media-item {
    flex: 0 1 47%;
}

.hot-items__col--tertiary .hot-items__media-item {
    flex: 0 1 23%;
}

.hot-items__col--secondary .hot-items__media:before,
.hot-items__col--tertiary .hot-items__media:before {
    padding-bottom: 51%;
}

.hot-items__col .hot-items__media {
    background: var(--secondary-colour);
}

.hot-items__col--secondary .hot-items__media {
    background: var(--primary-light);
}

.hot-items__col--tertiary .hot-items__media {
    background: var(--primary-colour);
}

.hot-items__media svg.svg-inline--fa {
    color: var(--sub-colour);
    width: 120px;
    height: 120px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hot-items__col--secondary svg.svg-inline--fa,
.hot-items__col--tertiary svg.svg-inline--fa {
    width: 70px;
    height: 70px;
}

.hot-items__media {
    position: relative;
    padding-bottom: 20px;
}

.hot-items__media:before {
    content: '';
    display: block;
    padding-bottom: 60%;
}

.hot-items__description {
    margin: 10px 0;
    color: var(--primary-colour);
}

@media screen and (max-width: 768px) {
    .hot-items__col--primary .hot-items__media:before {
        padding-bottom: 75%;
    }
    
    .hot-items__col--tertiary .hot-items__media-item {
        flex: 0 1 47%;
    }
}

@media screen and (max-width: 767px) {
    .hot-items__col--tertiary .hot-items__media-item {
        flex: 0 1 47%;
    }
}