.header__nav {
    position: relative;
    justify-content: flex-end;
}

.header__navbar.navbar-light .navbar-toggler {
    border: none;
    outline: none;
}

.header__navbar.navbar-light .navbar-nav .nav-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--primary-colour);
    font-weight: bold;
    padding-left: 30px;
    padding-right: 30px;
}

.header__navbar.navbar-light .navbar-nav .nav-link.active,
.header__navbar.navbar-light .navbar-nav .nav-link:hover,
.header__navbar.navbar-light .navbar-nav .nav-link:focus {
    color: var(--secondary-colour);
}

.header__navbar.navbar-light .navbar-nav .nav-link .fa-arrow-right {
    display: none;
}

.navbar-nav {
    align-items: center;
}

.header__btn.btn-dark {
    background-color: var(--primary-colour);
    border-color: var(--primary-colour);
    border-radius: 50%;
    padding: 1px 4px;
    font-size: 12px;
    margin: 0 15px 0 0;
}


.header__btn.btn-dark:last-of-type {
    margin: 0;
}

.header__btn.btn-dark:hover,
.header__btn.btn-dark:focus {
    background-color: var(--secondary-colour);
    border-color: var(--secondary-colour);
    outline: none;
    box-shadow: none;
}

.header__icons--desktop {
    display: flex;
    align-items: center;
}

.header__icons--mobile {
    display: none;
}

.header .form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    position: absolute;
    left: 100%;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: all ease-in-out 0.5s;
}

.header .form-inline.show-search {
    left: 0;
    opacity: 1;
    visibility: visible;
    z-index: 1;
}

.header .form-control {
    flex: 1;
    border: none;
    border-bottom: 1px solid;
    border-radius: 0;
    margin-right: 10px;
}

.header .header__search-container {
    flex: 0 1 80%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-left: auto;    
    margin-right: -10px;
    background: var(--sub-colour);
}

.header .form-inline .header__btn {    
    cursor: default;
    pointer-events: none;
    background-color: var(--secondary-colour);
    border-color: var(--secondary-colour);
}

.header__close-search.btn.btn-primary {
    color: var(--primary-colour);
    background: transparent;
    border: none;
    margin: 0 10px;
    padding: 0;
}

.header__close-search.btn.btn-primary:hover,
.header__close-search.btn.btn-primary:focus {
    color: var(--secondary-colour);
}

.header__search-btn.btn-outline-dark {
    color: var(--primary-colour);
    border-color: var(--primary-colour);
}

.header__search-btn.btn-outline-dark:hover,
.header__search-btn.btn-outline-dark:focus {
    background: var(--primary-colour);
    color: var(--sub-colour);
}

/* responsive
============================ */
@media screen and (max-width: 768px) { 
    .header__nav {
        position: fixed;
        top: 80px;
        left: 0;
        right: 0;
        height: calc(100vh - 80px);
        z-index: 1;
        border-top: 1px solid var(--primary-colour);
        background: var(--sub-colour);
    }

    .header__nav .navbar-nav {
        display: block;
    }

    .header__navbar.navbar-light .navbar-nav .nav-link {
        border-bottom: 1px solid var(--primary-colour);
    }

    .header__navbar.navbar-light .navbar-nav .nav-link.active {
        color: var(--primary-colour);
    }

    .header__navbar.navbar-light .navbar-nav .nav-link .fa-arrow-right {
        display: block;
    }

    .header__icons--desktop {
        display: none;
    }   
    
    .header__icons--mobile {
        display: block;
    }

    .header .form-inline {
        left: 0;
        top: 0;
        padding: 10px 0;
        border-top: 1px solid var(--primary-colour);
        border-bottom: 1px solid var(--primary-colour);
    }

    .header .form-inline.show-search {
        top: 100%;
        background: var(--sub-colour);
    }

    .header .header__search-container {
        flex: 1;
    }
}