/*******************************/
/*   Variables                 */
/*******************************/

:root {   
    
    --primary-colour: #2e4676;
    --primary-light: #849ac5;
    --secondary-colour: #ffb2b3;
    --sub-colour: #ffffff;
    --primary-dark: #38425e;

}