.new-arrivals__container.container {
    position: relative;
    padding: 40px 0;
    -webkit-columns: 3;
    -moz-columns: 3;
    columns: 3;
    -webkit-column-gap: 36px;
    -moz-column-gap: 36px;
    column-gap: 36px;
}

.new-arrivals__container.container:before,
.new-arrivals__container.container:after {
    content: '';
    display: block;
    height: 110px;
    position: absolute;
    width: 100vw;
    background: var(--primary-light);
    top: 14%;
    left: -140px;
    transform: translateY(-14%);
    z-index: -1;
}

.new-arrivals__container.container:after {
    background: var(--secondary-colour);
    top: auto;
    bottom: 33%;
    left: auto;
    right: -140px;
}

.new-arrivals__product {
    display: inline-block;
}

.new-arrivals__product:nth-of-type(3) {
    margin-top: 80px;
}

/* responsive
============================ */
@media screen and (max-width: 1366px) { 
    .new-arrivals__container.container:before {
        left: -40px;
    }
    
    .new-arrivals__container.container:after {
        right: -40px;
    }
}

@media screen and (max-width: 768px) {
    .new-arrivals__container.container:before {
        left: -30px;
    }
    
    .new-arrivals__container.container:after {
        right: -30px;
    }
}

@media screen and (max-width: 767px) { 
    .new-arrivals__container.container {
        -webkit-columns: 1;
        -moz-columns: 1;
        columns: 1;
        padding: 40px 20px;
    }

    .new-arrivals__container.container:before,
    .new-arrivals__container.container:after {
        display: none;
    }

    .new-arrivals__product:nth-of-type(3) {
        margin-top: 0;
    }
}