* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
}

.btn {
  &:hover,
  &:focus {
    box-shadow: none;
    background: transparent;
    border-color: transparent;
    outline: none;
  }

  &:active:not(:disabled):not(.disabled) {
    box-shadow: none;
    background: transparent;
    border-color: transparent;
    outline: none;
  }

  &.btn-dark,
  &.btn-primary {
    &:focus {
      box-shadow: none;
    }

    &:active:not(:disabled):not(.disabled) {
      color: inherit;
      background: transparent;

      &:focus {
        box-shadow: none;
      }
    }
  }
}